<h2> Les composts à votre disposition </h2>
<ul>
  <% @composts.each do |compost| %>
    <li> <%= link_to compost_path(compost) do %>
      <%= compost.address %> - <%= compost.description %>
      <% end %></li>
  <% end %>
</ul>
<h3><%= link_to 'ajouter un compost', new_compost_path %></h3>
