<h2><%= @compost.address %> </h2>
<h3><%= @compost.description %></h3>
<% if policy(@compost).edit? %>
  <%= link_to "Modifier", edit_compost_path(@compost) %>
<% end %>
<% if policy(@compost).remove? %>
  <%= link_to "Supprimer", remove_compost_path(@compost) %>
<% end %>
