// Specific CSS for your home-page
p, a {
  font-weight: lighter;
}

.page-container {
  padding: O;
  margin: 0;
  min-height: calc(100vh - 70px - 50px);
}

.cta-container {
  height: 75vh;
  text-align: center;
  padding: 100px 20px;
  background-repeat: no-repeat !important;
}

.content-row {
  height: 50vh;
}


.content-item {
  border: 1px solid black;
  height: 100%;
}

.content-photo {
  border: 1px solid black;
  height: 100%;
}

// font testing
.compact {
  letter-spacing: -4px;
  // text-decoration: underline;
}


