<div class="footer">
  <ul class="list-inline">
    <li>Made by Pauline Gaget</li>
    <li>
      <%= link_to "https://github.com/Lupiane" do %>
        <%= icon('fab', 'github') %>
      <% end %>
    </li>
  </ul>
</div>


