<div class="page-container">
  <div class="cta-container">
    <p>Recyclez vos déchets végétaux. Simplement.</p>
    <p><%= link_to 'Trouver un compost à proximité', composts_path, class: "btn btn-lg btn-success btn-rounded" %></p>
  </div>
  <div class="container content-container">
    <div class="row content-row">
      <div class="col-xs-4 content-photo">
        #Picture
      </div>
      <div class="col-xs-8 content-item">
        #Explanation of concept
      </div>
    </div>
    <div class="row content-row">
      <div class="col-xs-8 content-item">
        #Objectives
      </div>
      <div class="col-xs-4 content-photo">
        #Picture
      </div>
    </div>
    <div class="row content-row">
      <div class="col-xs-4 content-photo">
        #Picture/GIF?
      </div>
      <div class="col-xs-8 content-item">
        #Quick How-to?
      </div>
    </div>
  </div>
</div>






