.footer {
  height: 70px;
  background-color: $green;
  color: rgb(220, 220, 220);
  font-weight: 200;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: center;
  // padding-top: 10px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  a {
    color: rgb(220, 220, 220);
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

